/* General styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4caf50, #45a049);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 20px;
}

input {
    padding: 10px;
    width: calc(100% - 20px);
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #4caf50, #45a049);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(to bottom, #45a049, #4caf50);
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

/* Instructions styles */
.instructions {
    text-align: left;
    margin-top: 20px;
}

.instructions h2 {
    color: #333;
}

.instructions ul {
    list-style-type: disc;
    padding-left: 20px;
}

.instructions li {
    margin-top: 10px;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push the footer to the bottom */
}

.footer p {
    margin: 0;
}

.footer a {
    margin-left: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    input {
        width: calc(100% - 40px);
    }
}
